<div class="fixed-action-btn">
  <span ng-show="!$ctrl.selection.length">
    <a class="btn-floating btn-large">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li>
        <a class="btn-floating" title="Select">
          <i class="material-icons">select_all</i>
        </a>
      </li>
      <li>
        <a class="btn-floating" href="#browseModal" modal ready="$ctrl.modalReady()" complete="$ctrl.modalComplete()" open="$ctrl.modalOpen" title="Add file">
          <i class="material-icons">add</i>
        </a>
      </li>
    </ul>
  </span>

  <span ng-show="vm.selection.length">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating" title="Remove" ng-click="$ctrl.removeSelected()"><i class="material-icons">remove</i></a></li>
    </ul>
  </span>
</div>

<fm-browse-modal on-select="$ctrl.setSelected(selected)" modal-api="$ctrl.modalApi"></fm-browse-modal>
