body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Oxygen', sans-serif;
}

nav {
  background-color: rgb(32, 69, 88);
}

.btn-floating {
  background-color: rgb(32, 69, 88);
}

#the-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
