<ul id="nav-mobile" class="side-nav">
  <li>
    <a class="subheader">File Maps</a>
  </li>
  <li>
    <a href="#mapSettingsModal" modal ready="$ctrl.mapSettingsModalReady()" complete="$ctrl.mapSettingsModalComplete()" open="$ctrl.mapSettingsModalOpen">
      Map Settings</a>
  </li>
  <li><div class="divider"></div></li>
  <li>
    <a href="#newMapModal" modal ready="$ctrl.newMapModalReady()" complete="$ctrl.newMapModalComplete()" open="$ctrl.newMapModalOpen">
      New Map</a>
  </li>
  <li>
    <a href="#mapsModal" modal ready="$ctrl.mapsModalReady()" complete="$ctrl.mapsModalComplete()" open="$ctrl.mapsModalOpen">
      Open Map</a>
  </li>
  <li><div class="divider"></div></li>
  <li>
    <a href="#generalSettingsModal" modal ready="$ctrl.generalSettingsModalReady()" complete="$ctrl.generalSettingsModalComplete()" open="$ctrl.generalSettingsModalOpen">
      General Settings</a>
  </li>
  <li>
    <a href="#aboutModal" modal ready="$ctrl.aboutModalReady()" complete="$ctrl.aboutModalComplete()" open="$ctrl.aboutModalOpen">
      About</a>
  </li>
</ul>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">

      <!-- map settings -->
      <a href="#mapSettingsModal" class="brand-logo center" modal ready="$ctrl.mapSettingsModalReady()" complete="$ctrl.mapSettingsModalComplete()" open="$ctrl.mapSettingsModalOpen" title="Map Settings">
        <span ng-show="!$ctrl.mapService.current.map">File Maps</span>
        <span ng-show="$ctrl.mapService.current.map">{{ $ctrl.mapService.current.map.title }}</span>
      </a>

      <a href="#" data-activates="nav-mobile" class="button-collapse" data-sidenav="left" data-menuwidth="250" id="side-nav-button">
        <i class="material-icons">menu</i></a>

      <!-- navbar links -->
      <ul id="nav-large" class="right hide-on-med-and-down">
        <li>
          <a href="#newMapModal" modal ready="$ctrl.newMapModalReady()" complete="$ctrl.newMapModalComplete()" open="$ctrl.newMapModalOpen" title="New Map">
            <i class="material-icons">create_new_folder</i></a>
        </li>
        <li>
          <a href="#mapsModal" modal ready="$ctrl.mapsModalReady()" complete="$ctrl.mapsModalComplete()" open="$ctrl.mapsModalOpen" title="Open Map" enable-tabs="true">
            <i class="material-icons">folder_open</i></a>
        </li>
        <li>
          <a href="#generalSettingsModal" modal ready="$ctrl.generalSettingsModalReady()" complete="$ctrl.generalSettingsModalComplete()" open="$ctrl.generalSettingsModalOpen" title="General Settings">
            <i class="material-icons">settings</i></a>
        </li>
        <li>
          <a href="#aboutModal" modal ready="$ctrl.aboutModalReady()" complete="$ctrl.aboutModalComplete()" open="$ctrl.aboutModalOpen" title="About">
            <i class="material-icons">info_outline</i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
